.pcbody2{
  width: 100vw;
  height: 100vh;
  background: blue;
  position: relative;
}
.pc2{
  width: 100vw; 
  height: 20vh; 
  background: green; 
  position: relative;
}
.circlepc2{
  position: relative;
   background: grey; 
   width: 72px; 
   height: 72px; 
   float: left; 
   top: 14vh; 
   margin-left: 10px;
}
.userpartpc2{
  float: left; 
  margin-top: 33px; 
  text-align: left;
}
.userpartpcdiv2{
  margin-left: 20px;
}
.usernamepc2{
  font-size: 12px;
}
.useridpc2{
  color: gray; 
  font-size: 12px;
}

