<body>
    <div data-v-5d917ec8="" style="width: 100vw; height: 20vh; background: green; position: relative;">
        <img data-v-5d917ec8="" src="static/img/icon3.f4ba0685.png" class="img-circle" style="position: relative; background: grey; width: 72px; height: 72px; float: left; top: 14vh; margin-left: 10px;">
    </div>

    <div data-v-5d917ec8="" id="usernamepart" style="float: left; margin-top: 33px; text-align: left;"><div data-v-5d917ec8="" style="margin-left: 20px;"><div data-v-5d917ec8="">
        <span data-v-5d917ec8="" style="font-size: 12px;">Shokaku</span></div>
        <div data-v-5d917ec8=""><span data-v-5d917ec8="" style="color: gray; font-size: 12px;">@Shokaku112</span>
        </div><p data-v-5d917ec8="" id="usertext">this is bio</p>
    </div>
</div>
</body>

.moblie{
    width: 100vw; 
    height: 20vh; 
    background: green; 
    position: relative;
}